# Created by .ignore support plugin (hsz.mobi)
/.idea
cloud-office-2021.iml
/cloud-office-server/cloud-office-server.iml
/cloud-office-server/target
/cloud-office-code-generator/cloud-office-code-generator.iml
/cloud-office-code-generator/target